// -------------- FONTS ---------------
@font-face {
    font-family: "Iosevka Typewriter";
    src: url("../font/iosevka-typewriter-regular.ttf") format("truetype");
}
@font-face {
    font-family: "Iosevka Typewriter";
    font-weight: bold;
    src: url("../font/iosevka-typewriter-bold.ttf") format("truetype");
}

// -------------- VARIABLES ---------------
// Palette
$col-fg: #35312d; 
$col-bg: #e8e0da; 
$col-accent: #fe935a; 
$col-hover: #b85bad; 
$col-faded: #b2b2b2; 

// Effects
$shadow: 0 0 30px rgba(0, 0, 0, 0.07);
$transition: 0.4s cubic-bezier(0.18, 0.89, 0.32, 1.28),
	transform 0.4s cubic-bezier(0.18, 0.89, 0.53, 1.9);

// -------------- DARK MODE ---------------
$col-fg-dark: #d9d9d9;
$col-bg-dark: #303030;

.dark-mode, .dark-mode a, .dark-mode button {
	color: $col-fg-dark;
	background-color: $col-bg-dark;
}

// -------------- GENERAL ---------------
html, button, a {
	color: $col-fg;
	background-color: $col-bg;
	font-family: "Iosevka Typewriter", sans-serif;
	scroll-behavior: smooth;
}

button {
	border: 0;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

:focus {
	outline: 0.15em dashed $col-hover;
	outline-offset: 0.2em;
}

.padder {
	color: $col-faded;
	padding: 0 0.5em;
}

.hidden {
	display: none;
}

// -------------- LINKS ---------------
a {
	position: relative;
	text-decoration: none;
	padding-bottom: 0.2em;
	
	&::before {
		content: '';
		position: absolute;
		bottom: 0;
		right: 0;
		width: 0;
		height: 2px;
		background-color: $col-hover;
		transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
	}
}

@media (hover: hover) and (pointer: fine) {
  a:hover::before{
    left: 0;
    right: auto;
    width: 100%;
  }
}

// -------------- HEADER ---------------
header {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	margin-top: 0.5em;
	margin-bottom: 5em;
}

.dark-mode h1,
h1 {
	margin-bottom: 0.3em;
	padding: 0.1em 0.2em;
	color: $col-fg;
	background-color: $col-accent;
}

@media only screen and (min-width: 810px) {
	header {
		margin-top: 2em;
	}
	
	.dark-mode h1,
	h1 {
		padding: 0.2em 1em;
	}
}

// -------------- NEWS ELEMENTS ---------------
#story-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	width: 100%;
}

.story {
	display: flex;
	flex-direction: column;
	width: 90%;
	padding: 1em;
	border-left: 0.3em solid $col-accent;
	margin-bottom: 1em;
	box-shadow: $shadow;
	
	&__info-container {
		display: flex;
		justify-content: space-between;
		
		margin-left: 0.1em;
	}
	
	&__title {
		font-size: 1.2rem;
		font-weight: 700;
		width: fit-content;
		margin-bottom: 0.5em;
		cursor: pointer;
	}
	
	// avoids overflowing of long names
	&__author {
		white-space: nowrap;
		max-width: 30%;
		overflow: hidden;
	}
}

// Wide Layout
@media only screen and (min-width: 810px) {
	#story-container {
		width: 800px;
	}
	
	.story__info-container {
		justify-content: flex-start;
	}
}

// -------------- BUTTONS ---------------
#story-load,
#switch-theme {
	font-size: 1.1rem;
	font-weight: 500;
	cursor: pointer;
	
	svg, p {
		transition: $transition;
	}
	
	p {
		margin-bottom: 0.1em;
		font-weight: 700;
	}
	
	&:hover p {
		color: $col-accent;
		transform: scale(1.2, 1.2);
	}
	
	svg {
		width: 1em;
		height: 1em;
	}
	
	&:hover svg {
		fill: $col-accent;
		transform: scale(1.2, 1.2);
	}
}

#story-load {
	background-color: rgba(0,0,0,0);
	margin: 2em 0;
	
	svg {
		width: 2em;
		height: 2em;
	}
	
	&:hover svg {
		transform: scale(1.5, 1.2);
	}
}

#switch-theme {
	color: $col-fg;
	position: fixed;
	z-index: 1;
	padding: 0.3em;
	background-color: $col-accent;
	border: 0.3em solid $col-accent;
	border-radius: 0.3em;
}

#switch-theme {
	bottom: 1em;
	right: 1em;
	
	svg {
		width: 1.4em;
		height: 1.4em;
	}
}

// Wide Layout
@media only screen and (min-width: 810px) {
	#switch-theme {
		bottom: auto;
		top: 2em;
		right: 2em;
		left: auto;
		color: $col-faded;
		padding: 0;
		background-color: rgba(0,0,0,0);
		border: 0;
	}
}

// -------------- SCROLLBAR ---------------
// For Gecko engine
* {
  scrollbar-color: $col-faded $col-bg;
}

// For Webkit and Blink engines
*::-webkit-scrollbar {
  width: 0.7em;
}

*::-webkit-scrollbar-track {
  background: $col-bg;
}

*::-webkit-scrollbar-thumb {
  background-color: $col-faded;
}
